/* styles.css */
table {
    width: 40%;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

form {
    margin: 20px auto;
    text-align: center;
}
